.sign-up-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-up-title-wrapper{
  margin-bottom: 20px;
  text-align: center;
}
.sign-up-container{
  min-width: 300px;
  padding: 20px;
}
.form-field{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px
}
mat-card{
  padding: 20px;
}
